%% -*- erlang -*-
{erl_opts, [debug_info, fail_on_warning]}.

{port_env, [{"CFLAGS", "$CFLAGS -O2"},
	    {"LDFLAGS", "$LDFLAGS -ldb"}]}.

{port_specs, [
	      {"(linux|freebsd|darwin)","priv/bdberl_drv.so",
	       [ "c_src/bdberl_crc32.c",
		 "c_src/bdberl_stats.c",
		 "c_src/bin_helper.c",
		 "c_src/bdberl_tpool.c",
		 "c_src/hive_hash.c",
		 "c_src/bdberl_drv.c"
		 ]}]}.
